/* Referance : https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules */

/* Hide horizontal tabs at the top of the window */
#TabsToolbar, #titlebar { visibility: collapse; }

/* hide the tree tabs header */
#sidebar-header { display: none; }

/*Collapse in default state and add transition*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    overflow: hidden;
    min-width: 40px;
    max-width: 40px;
    transition: all 0.2s ease;
    border-right: 1px solid #0c0c0d;
    z-index: 2;
 }
  
/*Expand to 260px on hover*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
    min-width: 130px !important;
    max-width: 130px !important;
 }

/* Option : eaves space for the MS windows buttons */
/* #nav-bar {
    margin-top: -8px;
    margin-right: 74px;
    margin-bottom: -4px;
} */
